/* GENERELT */
main img {
  max-width: 100%;
  filter: drop-shadow(1rem 1rem 0px #000);
  margin-bottom: 8%;
  margin-right: 8%;
}

body {
  background-image: url(billeder/bg.svg);
  background-color: rgb(242, 144, 255);
}

.aarskort img {
  filter: none;
  margin-bottom: 2%;
  margin-right: 0;
}

* {
  margin: 0;
}

section {
  margin-inline: 12%;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

.logo a:hover {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
}

nav a:hover {
  color: rgb(255, 255, 255);
  font-size: large;
}

footer a:hover {
  color: rgb(255, 255, 255);
  padding-left: 10%;
}

.ikoner {
  background-image: url(billeder/ikoner-04.svg);
  aspect-ratio: 2/1;
  background-size: cover;
  width: 15%;
}

.om_os {
  margin-block: 8%;
}

.om_os .left_col {
  margin-bottom: 4%;
}

.splash {
  width: 100%;
  height: 100vw;
  background-image: url(billeder/splash.jpg);
  background-size: cover;
  background-position: 55% 45%;
  filter: drop-shadow(1rem 1rem 0px #000);
  margin-top: 10%;
}

.splash h1 {
  font-size: 6rem;
  padding-left: 20%;
  padding-top: 10%;
  background-color: transparent;
  color: white;
}

/* SKRIFTTYPE */
h1,
header li,
h4 {
  font-family: "Bebas Neue", cursive;
}

h2,
h3 {
  font-family: "Monoton", cursive;
}

p,
address,
div,
e-mail {
  font-family: "Titillium Web", sans-serif;
}

/* BURGERMENU */
.toggle-btn {
  display: none;
  padding: 0.2rem;
  font-size: 2rem;
}

header ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-inline: 3%;
}

.toggle-btn,
.logo,
.ikoner {
  margin-top: auto;
  margin-bottom: auto;
}

.logo a {
  font-size: 2rem;
}

.aarskort {
  margin-top: 5%;
}

/* NYHEDSBREV */

input {
  padding: 1.8%;
  margin-bottom: 12%;
  border-radius: 0.25rem;
}

.tilmeld_knap {
  padding: 1.8%;
  margin-bottom: 12%;
  border-radius: 0.25rem;
  background-color: #000;
  color: white;
  border-color: #000;
}

footer .socials a {
  display: flex;
}

/* FARVER */

footer,
footer div,
footer h4,
footer address,
footer button,
footer label,
footer a,
footer e-mail {
  background-color: #ffa530;
  padding-block: 1%;
  padding-left: 5%;
  margin-top: 5%;
}

footer input {
  background-color: rgba(255, 255, 255, 0.89);
}

/*BURGERMENU */
@media (max-width: 700px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  nav li {
    padding-top: 4%;
  }
}

/* RESPONSIVE */
@media (min-width: 450px) {
  .splash h1 {
    font-size: 10rem;
    padding-left: 20%;
    padding-top: 10%;
  }
}

@media (min-width: 700px) {
  section {
    margin-inline: 17%;
  }

  .splash {
    width: 100%;
    height: 45vw;

    background-position: 55% 45%;
    margin-top: 5%;
  }

  .splash h1 {
    font-size: 10rem;
    padding-left: 25%;
    padding-top: 3%;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin-inline: 13%;
    margin-bottom: 4%;
  }

  nav a {
    font-size: 1rem;
  }

  header .navbar div,
  header .navbar a {
    font-size: 2rem;
    margin-top: 2%;
  }

  .ikoner {
    width: 9%;
    height: 5%;
    margin-bottom: 2%;
  }

  .aarskort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-inline: 5%;
  }
  .om_os {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5%;
  }

  footer {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, auto));
    gap: 2%;
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .nyhedsbrev .mail {
    margin: 0%;
  }

  body {
    background-image: url(billeder/bg2.svg);
  }

  .logo a {
    font-size: 5rem;
  }
}

@media (min-width: 1000px) {
  .splash h1 {
    font-size: 12rem;
    padding-left: 30%;
    padding-top: 1%;
  }

  body {
    background-image: url(billeder/bg3.svg);
  }

  .ikoner {
    width: 6%;
  }
}

@media (min-width: 1400px) {
  .splash {
    height: 35vw;
  }

  .splash h1 {
    font-size: 12rem;
    padding-left: 30%;
    padding-top: 0.5%;
  }

  section {
    margin-inline: 25%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    margin-inline: 17%;
    margin-bottom: 2%;
  }

  nav a {
    font-size: 2.5rem;
  }

  header .navbar div,
  header .navbar a {
    font-size: 2rem;
    margin-top: 2%;
  }

  .ikoner {
    width: 5%;
    margin-bottom: 1%;
  }

  body {
    background-image: url(billeder/bg4.svg);
  }
}
