/* GENERELT */
main img {
  max-width: 100%;
  filter: drop-shadow(1rem 1rem 0px #000);
  margin-bottom: 8%;
  margin-right: 8%;
}

.aarskort img {
  filter: none;
  margin-bottom: 2%;
  margin-right: 0;
}

* {
  margin: 0;
}

section {
  margin-inline: 12%;
}

a {
  text-decoration: none;
}

.ikoner {
  background-image: url(billeder/ikoner-04.svg);
  aspect-ratio: 2/1;
  background-size: cover;
  width: 15%;
}

.om_os {
  margin-block: 8%;
}

.om_os .left_col {
  margin-bottom: 4%;
}

/*.splash{

}*/

/* SKRIFTTYPE */
h1,
header li,
h4 {
  font-family: "Bebas Neue", cursive;
}

h2,
h3 {
  font-family: "Monoton", cursive;
}

p,
address,
div,
e-mail {
  font-family: "Titillium Web", sans-serif;
}

/* BURGERMENU */
.toggle-btn {
  display: none;
  padding: 0.2rem;
  font-size: 2rem;
}

header ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-inline: 3%;
}

.toggle-btn,
.logo,
.ikoner {
  margin-top: auto;
  margin-bottom: auto;
}

.aarskort {
  margin-top: 5%;
}

/* NYHEDSBREV */

input {
  padding: 1.8%;
  margin-bottom: 12%;
  border-radius: 0.25rem;
}

.tilmeld_knap {
  padding: 1.8%;
  margin-bottom: 12%;
  border-radius: 0.25rem;
  background-color: #000;
  color: white;
  border-color: #000;
}

footer .socials a {
  display: flex;
}

/* FARVER */
* {
  background-color: rgb(250, 226, 93);
}

footer,
footer div,
footer h4,
footer address,
footer button,
footer label,
footer a,
footer e-mail {
  background-color: rgb(46, 191, 228);
  padding-block: 1%;
  padding-left: 5%;
  margin-top: 5%;
}

footer input {
  background-color: rgba(255, 255, 255, 0.89);
}

/*BURGERMENU */
@media (max-width: 700px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
/* RESPONSIVE */
@media (min-width: 700px) {
  section {
    margin-inline: 17%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    margin-inline: 13%;
    margin-bottom: 4%;
  }

  nav a {
    font-size: 1.5rem;
  }

  header .navbar div,
  header .navbar a {
    font-size: 2rem;
    margin-top: 2%;
  }

  .ikoner {
    width: 10%;
    margin-bottom: 2%;
  }

  .aarskort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-inline: 5%;
  }
  .om_os {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5%;
  }

  footer {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, auto));
    gap: 2%;
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .nyhedsbrev .mail {
    margin: 0%;
  }
}

@media (min-width: 1400px) {
  section {
    margin-inline: 25%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    margin-inline: 17%;
    margin-bottom: 2%;
  }

  nav a {
    font-size: 2.5rem;
  }

  header .navbar div,
  header .navbar a {
    font-size: 2rem;
    margin-top: 2%;
  }

  .ikoner {
    width: 7%;

    margin-bottom: 1%;
  }
}
