/* GENERELT */
img {
  max-width: 100%;
  filter: drop-shadow(1rem 1rem 0px #000);
}

main {
  margin-inline: 12%;
}

a {
  text-decoration: none;
}

/* SKRIFTTYPE */
h1,
header li,
h4 {
  font-family: "Bebas Neue", cursive;
}

h2,
h3 {
  font-family: "Monoton", cursive;
}

p {
  font-family: "Titillium Web", sans-serif;
}

/* BURGERMENU */
.toggle-btn {
  display: none;
  padding: 0.2rem;
  font-size: 2rem;
}

header ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.toggle-btn,
.logo,
.ikoner {
  margin-top: auto;
  margin-bottom: auto;
}

input {
  padding: 1.8%;
  margin-bottom: 12%;
  border-radius: 0.25rem;
}

.tilmeld_knap {
  padding: 1.8%;
  margin-bottom: 12%;
  border-radius: 0.25rem;
  background-color: #000;
  color: white;
  border-color: #000;
}

/*BURGERMENU */
@media (max-width: 700px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (min-width: 700px) {
  nav ul {
    display: flex;
    justify-content: space-between;
    margin-inline: 12%;
  }
}
